.main-header {
  color: #37394c;
  font-size: 27px;
  margin-bottom: 78px;
}

.graph {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
}

.table th {
  color: #aab2c0;
  font-size: 12px;
  border-top: 0;
  border-bottom: solid 1px #dfe2e5;
  font-weight: bold;
  text-align: center;
}

.table tr td {
  font-size: 13px;
  color: #002257;
  border-bottom: solid 1px #dfe2e5;
  text-align: center;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr td:first-child,
.success-dif {
  color: #2ebd41 !important;
}

.error-dif {
  color: #ff626c !important;
}

.arrow-down {
  width: 0;
  cursor: pointer;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  border-top: 4px solid #a6b2c4;
}
