<div class="main-header">
  Analytics
</div>
<img class="graph" src="../../../assets/graph.png" alt="">
<div class="table-responsive">

  <table class="table">
    <thead>
      <th>AMOUNT</th>
      <th>DATE</th>
      <th>POINTS</th>
      <th>DIFFERENCE</th>
      <th>DATES</th>
      <th>COUNTRY</th>
      <th>SEGMENTS</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{item.amount}}</td>
        <td>{{item.datess}}</td>
        <td>{{item.points}}</td>
        <td class="success-dif" [ngClass]="{'error-dif': item.difference <= .3}">{{item.difference}}</td>
        <td>{{item.date}}</td>
        <td>{{item.segment}}</td>
        <td>{{item.country}}</td>
       
        <td><span class="arrow-down "></span></td>
      </tr>
    </tbody>
  </table>
</div>
