#main-content {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 80%;
  overflow: auto;
  margin-left: 20%;
  padding: 48px 32px;
  background: #f8f9fb;
}

.container-fluid {
  padding: 0;
  position: relative;
  height: 100%;
}

#nav-state {
  display: none;
}

#nav-icon3 {
  width: 35px;
  margin-top: 8px;
  margin-bottom: 0;
  height: 45px;
  position: relative;
  cursor: pointer;
  display: none;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 18px;
  background: #222;
  border-radius: 9px;
  opacity: 1;
  left: 10px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 10px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 27px;
}

#nav-state:checked~#nav-icon3 span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-state:checked~#nav-icon3 span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-state:checked~#nav-icon3 span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-state:checked~#nav-icon3 span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-state:checked~app-sidebar {
    visibility: visible;
    opacity: 1;}

@media only screen and (max-width: 1092px) {
  app-sidebar {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;  }
  #nav-icon3 {
    display: inline-block;
    z-index: 9999;
  }
  #main-content {
    width: calc(100% - 50px);
    margin-left: 0;
    padding: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  .container-fluid {
    max-width: 1500px;
  }
  app-sidebar {
    width: 244px;
  }
  #main-content {
    width: 1256px;
    margin-left: 244px;
  }
}
