<div class="container-fluid">
        <input type="checkbox" id="nav-state" class="nav-state">
        <label for="nav-state" id="nav-icon3">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </label>
        
    <app-sidebar></app-sidebar>
    <div id="main-content">
        <app-dashboard></app-dashboard>
    </div>

</div>