
<div id="sidebar">
  
    <div class="user-info">
    <img src="../../../assets/user-img.jpg" alt="">
    <div class="status">
      <p class="flex algin-center"><span class="name">Samir</span><span class="status-icon"></span></p>
      <p>Co-founder</p>
    </div>
  </div>
  <div class="form-group">
      <label for="depart">DEPARTMENT</label>
      <select class="form-control" id="depart">
        <option>Marketing</option>
        <option>Social</option>
        <option>It</option>
        <option>Human Resources</option>
      </select>
    </div>
    <div class="section">
      <div class="header-section">
          MARKETING
      </div>
      <ul>
        <li>Overview</li>
        <li>Schedule</li>
        <li>Employees</li>
        <li>Calendar <span class="badge">3</span></li>
        <li>Priorities</li>
        <li>Social Media</li>
      </ul>
    </div>
    <div class="section">
        <div class="header-section">
            MANAGEMENT
        </div>
        <ul>
          <li>Account</li>
          <li>Payments</li>
          <li>Payments <span class="badge">8</span></li>
          <li>Contacts</li>
        </ul>
      </div>
</div>
<div class="logout">
  logout
  <img src="../../../assets/shape.svg" alt="">
</div>