:host {
  --lightgray: #aab2c0;
  --blue: #002257;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  overflow: auto;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.06);
  padding: 48px 30px;
  padding-bottom: 40px;
background: #fff;
-webkit-transition: display 2s; /* Safari */
transition: display 2s;
}

.user-info {
  display: flex;
  margin-bottom: 32px;
}

.user-info img {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-right: 25px;
  object-fit: cover;
}

.status {
  padding-top: 10px;
  font-weight: bold;
}

.status p {
  color: var(--lightgray);
  font-size: 12px;
  margin-bottom: 0;
}

.status .name {
  margin-right: 4px;
  color: var(--blue);
  font-size: 15px;
}

.status .status-icon {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #2ebd41;
  display: inline-block;
  margin-left: 4px;
}

.form-group {
  margin-bottom: 32px;
}

.form-group label {
  color: var(--lightgray);
  font-size: 12px;
  font-weight: bold;
}

.form-group .form-control {
  border-radius: 4px;
  border: solid 1px #d9dee8;
  color: var(--lightgray);
  font-size: 12px;
  font-weight: bold;
}

.section {
  margin-bottom: 28px;
}

.header-section {
  margin-bottom: 16px;
  color: var(--lightgray);
  font-weight: bold;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 16px;
  color: var(--blue);
  font-size: 13px;
  cursor: pointer;

}

.badge {
  background: #ff626c;
  padding: 2px 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  margin-left: 4px;
  vertical-align: text-bottom;
}

:host::-webkit-scrollbar {
    width: 6px;
}
 
:host::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
:host::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #aab2c0; 
}
.logout{
    position: static;
    bottom: 0;
    font-size: 13px;
    color:#97a3b4;
}

.logout img {
  margin-left: 8px;
  width: 15px;
  height: 15px;
}
