/* You can add global styles to this file, and also import other style files */
html {
	height: 100%;
}

body {
	margin: 0;
    height: 100%;
    font-family: 'Open Sans';
}
.flex {
    display: flex;
}
.algin-center{
    align-items: center;
}